h1{
    color: rgb(red, green, blue);
}

h1{
    color: rgb(225, 225, 0)
}

body{
    color: red;
    font-size: 40px;
}

.box{
    height: 100px;
    width: 2rem;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}

